<div>
  <form>
    <div>
      <div class="form-group pt-4">
        <label class="font-weight-bold" for="name">Name</label>
        <input type="text" class="form-control" id="name" name="name" aria-describedby="emailHelp" placeholder="Enter email">
      </div>
      <div class="form-group pt-2">
        <label class="font-weight-bold" for="registrationNumber">Car Registration Number</label>
        <input type="password" class="form-control" id="registrationNumber" name="registrationNumber" placeholder="Password">
      </div>
      <div class="form-group pt-2">
        <label class="font-weight-bold" for="seater">No. Of Seater</label>
        <input type="number" class="form-control" id="seater" name="seater" placeholder="Password">
      </div>
      <div class="form-group pt-2">
        <label class="font-weight-bold" for="fromAddress">From</label>
        <select class="form-control" id="fromAddress" name="fromAddress">
          <option>Chicago</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </div>
      <div class="form-group pt-2">
        <label class="font-weight-bold" for="toAddress">To</label>
        <select class="form-control" id="toAddress" name="toAddress">
          <option>Chicago</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </div>
      <div class="text-center pt-2">
        <button type="submit" class="btn btn-primary pt-2">Start Ride</button>
      </div>
      
    </div>
  </form>
</div>
